.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@-moz-document url-prefix() {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(74, 74, 73, 0.2);
  }
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(74, 74, 73, 0.2);
  border-radius: 4px;
}
